---
name: Build and Push Docker Image

on:
  push:
    branches: [ main ]
    paths:
      - 'bot/**'
      - '.github/workflows/dockerhub.yaml'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: ./bot
          push: true
          tags: |
            dima032398485/vid2gif_bot:latest
            dima032398485/vid2gif_bot:${{ github.sha }}